html
  head
    script(src='js/app.js')

  body
    label
      |Reference (sist02)
    textarea#reference(type='text' rows='6' disabled)
    p.footer
      |&copy; sist02.ce.
      span.footer__link
        a(href='https://github.com/makky3939/sist02.ce' target='_blank') About me