html
  head
    meta(charset='UTF-8')
    script(src='js/app.js' charset='UTF-8')
    link(href='css/style.css' rel='stylesheet')

  body
    label
      |Reference (sist02)
    textarea#reference(type='text' rows='6' autofocus)
    p.footer
      |&copy; sist02.ce.
      span.footer__link
        a(href='https://github.com/makky3939/sist02.ce' target='_blank') About me
      span